#!/bin/bash
# genenerated by dockergen{{range $k, $v := $}}{{$e := "http://etcd.local.maestro.io:2379"}}{{$t := "15"}}{{$u := $v.Env.MAESTRO_USERNAME}}{{$s := $v.Env.MAESTRO_STAGE}}{{$a := $v.Env.MAESTRO_APP}}{{$c := $v.Env.MAESTRO_COMPONENT}}{{$i := $v.Env.MAESTRO_ID}}{{$n := $v.Env.MAESTRO_NODE}}{{$D := $v.Env.MAESTRO_DNS}}{{$f := $v.Env.MAESTRO_FRONTEND}}{{$S := $v.Env.MAESTRO_SCALABLE}}{{$g := $v.Env.MAESTRO_GLOBAL}}{{$d := printf "%s.%s.%s.%s.maestro.io" $c $a $s $u}}
{{if $u}}
  {{if $v.IP}} # container has an internal ip
    {{if $g}} # container is global
      /usr/local/bin/etcdctl -C {{$e}} set --ttl {{$t}} /skydns/io/maestro/{{$u}}/{{$s}}/{{$a}}/{{$c}}/{{$n}}/{{$i}} '{"host":"{{$v.IP}}","text":"{\"ports\":[{{range $v.Addresses}}\"{{.Port}}/{{.Proto}}\",{{end}}],\"node\":\"{{$n}}\",\"username\":\"{{$u}}\",\"stage\":\"{{$s}}\",\"app\":\"{{$a}}\",\"component\":\"{{$c}}\",\"id\":{{$i}},\"frontend\":{{$f}},\"global\":{{$g}},\"scalable\":{{$S}},\"dns\":\"{{$d}}\",{{if $D}}\"dnscustom\":\"{{$D}}\",{{end}}\"volumes\":[{{range $kk, $vv := $v.Volumes}}\"{{$vv.HostPath}}:{{$vv.Path}}\",{{end}}]}"}'
    {{else}} # container is scalable / non scalable
      /usr/local/bin/etcdctl -C {{$e}} set --ttl {{$t}} /skydns/io/maestro/{{$u}}/{{$s}}/{{$a}}/{{$c}}/{{$i}} '{"host":"{{$v.IP}}","text":"{\"ports\":[{{range $v.Addresses}}\"{{.Port}}/{{.Proto}}\",{{end}}],\"node\":\"{{$n}}\",\"username\":\"{{$u}}\",\"stage\":\"{{$s}}\",\"app\":\"{{$a}}\",\"component\":\"{{$c}}\",\"id\":{{$i}},\"frontend\":{{$f}},\"global\":{{$g}},\"scalable\":{{$S}},\"dns\":\"{{$d}}\",{{if $D}}\"dnscustom\":\"{{$D}}\",{{end}}\"volumes\":[{{range $kk, $vv := $v.Volumes}}\"{{$vv.HostPath}}:{{$vv.Path}}\",{{end}}]}"}'
    {{end}}
    {{if $v.Addresses}} # container has exposed ports
      {{with $A := index $v.Addresses 0}} # TODO: only first port is advertised
        {{if $f}} # container is a frontend
          {{if $g}} # container is global
            /usr/local/bin/etcdctl -C {{$e}} set --ttl {{$t}} /skydns/io/maestro/{{$u}}-{{$a}}-{{$c}}/{{$n}} '{"host":"violino.maestro.io"}'
            /usr/local/bin/etcdctl -C {{$e}} set --ttl {{$t}} /maestro.io/apps/{{$n}}.{{$u}}-{{$a}}-{{$c}} '{"watchdir":"/skydns/io/maestro/{{$u}}/{{$s}}/{{$a}}/{{$c}}/{{$n}}","port":"{{$A.Port}}"}'
          {{else}} # container is scalable / non scalable
            /usr/local/bin/etcdctl -C {{$e}} set --ttl {{$t}} /skydns/io/maestro/{{$u}}-{{$a}}-{{$c}}/{{$i}} '{"host":"violino.maestro.io"}'
            /usr/local/bin/etcdctl -C {{$e}} set --ttl {{$t}} /maestro.io/apps/{{$u}}-{{$a}}-{{$c}} '{"watchdir":"/skydns/io/maestro/{{$u}}/{{$s}}/{{$a}}/{{$c}}","port":"{{$A.Port}}"}'
          {{end}}
          {{if $D}} # container wants a custom dns
            {{if $g}} # container is global
              /usr/local/bin/etcdctl -C {{$e}} set --ttl {{$t}} /skydns/io/maestro/{{$D}}/{{$n}} '{"host":"violino.maestro.io"}'
              /usr/local/bin/etcdctl -C {{$e}} set --ttl {{$t}} /maestro.io/apps/{{$D}} '{"watchdir":"/skydns/io/maestro/{{$u}}/{{$s}}/{{$a}}/{{$c}}/{{$n}}","port":"{{$A.Port}}"}'
            {{else}} # container is scalable / non scalable
              /usr/local/bin/etcdctl -C {{$e}} set --ttl {{$t}} /skydns/io/maestro/{{$D}}/{{$i}} '{"host":"violino.maestro.io"}'
              /usr/local/bin/etcdctl -C {{$e}} set --ttl {{$t}} /maestro.io/apps/{{$D}} '{"watchdir":"/skydns/io/maestro/{{$u}}/{{$s}}/{{$a}}/{{$c}}","port":"{{$A.Port}}"}'
            {{end}}
          {{end}}
        {{end}}
      {{end}}
    {{end}}
  {{else}} # container run in host mode
    {{if $g}} # container is global
      /usr/local/bin/etcdctl -C {{$e}} set --ttl {{$t}} /skydns/io/maestro/{{$u}}/{{$s}}/{{$a}}/{{$c}}/{{$n}} '{"host":"{{$n}}.maestro.io","text":"{\"node\":\"{{$n}}\",\"username\":\"{{$u}}\",\"stage\":\"{{$s}}\",\"app\":\"{{$a}}\",\"component\":\"{{$c}}\",\"id\":{{$i}},\"frontend\":{{$f}},\"global\":{{$g}},\"scalable\":{{$S}},\"dns\":\"{{$d}}\",{{if $D}}\"dnscustom\":\"{{$D}}\",{{end}}\"volumes\":[{{range $kk, $vv := $v.Volumes}}\"{{$vv.HostPath}}:{{$vv.Path}}\",{{end}}]}"}'
    {{else}}
      /usr/local/bin/etcdctl -C {{$e}} set --ttl {{$t}} /skydns/io/maestro/{{$u}}/{{$s}}/{{$a}}/{{$c}}/{{$i}} '{"host":"{{$n}}.maestro.io","text":"{\"node\":\"{{$n}}\",\"username\":\"{{$u}}\",\"stage\":\"{{$s}}\",\"app\":\"{{$a}}\",\"component\":\"{{$c}}\",\"id\":{{$i}},\"frontend\":{{$f}},\"global\":{{$g}},\"scalable\":{{$S}},\"dns\":\"{{$d}}\",{{if $D}}\"dnscustom\":\"{{$D}}\",{{end}}\"volumes\":[{{range $kk, $vv := $v.Volumes}}\"{{$vv.HostPath}}:{{$vv.Path}}\",{{end}}]}"}'
    {{end}}
  {{end}}
{{end}}
{{end}}
